# Hello Everyone, Good Day!. Welcome to my Channel. 

# Today, I am going to show you how to import cassandra  into Python.

# and then how to convert imported table to a Pandas DataFrame.

# cassandra python driver must have been installed on your machine & 

# of course cassandra DB must have been installed as well. 

# syntax to install from linux machine: pip install cassandra-driver

# windows machine users, you can download the driver from datastax.com

In [4]:
import pandas as pd

In [6]:
#before importing cassandra cluster object, lets look at the cluster name and details on my local machine.
# I have cassandra cluster as test cluster and host is 192.168.0.1 with default port.
#lets import cassandra cluster object.

from cassandra.cluster import Cluster

In [ ]:
#this error because, there is no name called cluster. it should be like Cluster.

In [7]:
#lets connect our local cluster.
cluster=Cluster(['127.0.0.1'],port=9042)

In [9]:
# we have sucessfully imported our cluster. lets connect to a keyspace. I have test1 keyspace, lets import it.
session=cluster.connect('test1')

In [11]:
# lets look at the tables insdie test keyspace. there are 2 tables as of now.
# in order to fetch the rows, we need to import rows factory object. 

from cassandra.query import dict_factory

In [12]:
session.row_factory=dict_factory

In [13]:
rows=session.execute('select * from sales_by_film ')

In [14]:
#lets look at the rows from imported table.
rows

In [15]:
# it is showing as cassandra resultset. lets print the first row.
print(rows[0])

{'category': 'Games', 'total_sales': 4281.330078125}

/home/mehaa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: ResultSet indexing support will be removed in 4.0. Consider using ResultSet.one() to get a single row.

In [16]:
# we have succesfully imported cassandra table to Python. lets convert it to a Pandas DataFrame.

df=pd.DataFrame(rows[:])

In [17]:
df

    category  total_sales
0      Games  4281.330078
1     Family  4226.069824
2     Comedy  4383.580078
3     Sports  5314.209961
4     Action  4375.850098
5    Foreign  4270.669922
6      Drama  4587.390137
7        New  4351.620117
8  Animation  4656.299805
9     Sci-Fi  4756.979980

In [18]:
#we have successfully import cassandra and also converted the table to a DataFrame.

# thats all my friend. hope you liked the video. 

# thanks for watching.